@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Silkscreen:wght@400;700&display=swap');
*,*:before,*:after{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}

body {
  background: linear-gradient(#26535d 0%, #4791d2 40%, #687dc6 100%);
  font-family: "Montserrat", Sans-serif;
}
.margin {
  margin-top: 10px;
}
.bg-light {
  background: #00000000 !important;
  transition: all 0.5s;
}
.bg-light.scrolled {
  background: #ffffff8b !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.589);
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.1);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav a {
  color: white;
}
.gallery a {
    color: #FFFFFF;
    text-decoration: none;   
}
.button {
    background-color:#26535d;
    color: #ffffff;
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 100%;
  }
.nav a:hover {
  color: rgb(192, 191, 191);
}
.nav.scrolled a {
  color: rgb(38,83,93);
}
.nav.scrolled a:hover {
  color: rgb(38,83,93);
}
.buttonToggle {
  display: none;
}
.initial {
  font-family: "Silkscreen", sans-serif;
  font-size: 30px;
  margin: -10px;
}
.all-body-cover {
  margin-top: 200px;
}
.opening {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.nama {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waves {
  margin-top: -100px;
  margin-bottom: 70px;
}
.firstContainer {
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #ffffffde 70%,
    #ffffffb6 75%,
    #ffffff7e 80%,
    #ffffff49 85%,
    #ffffff1f 90%,
    #ffffff00 100%
  );
  margin-top: -80px;
  margin-bottom: 50px;
}

.content {
  padding-bottom: 400px;
}
.nameHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subNameHeading {
  display: none;
}
.content .row {
  padding-bottom: 40px;
}
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itemEdu {
  padding: 10px;
}
.startEnd {
  margin-bottom: -1px;
}
.achive {
  margin-top: -200px;
  margin-bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wavesss {
  margin-bottom: -20px;
}
.thirdContainer {
  background-color: #fff;
  margin-top: 20px;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.article-container-firstRow {
  width: 1100px;
  height: 250px;
  overflow: hidden;
  position: relative;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-align: center;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.589);
  border-radius: 10px;
}
.article-container-secondRow {
  width: 340px;
  height: 200px;
  overflow: hidden;
  position: relative;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-align: center;
}
.article-container-thirdRow {
  width: 530px;
  height: 200px;
  overflow: hidden;
  position: relative;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-align: center;
}

.categoryy .container .col {
  margin-bottom: 20px;
}
.article-img-holder-firstRow {
  width: 100%;
  height: 100%;
  background: url("../img/porto1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 40px;
}
.article-img-holder-secondRow {
  width: 100%;
  height: 100%;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 35px;
}
.tshirt {
  background: url("../img/tshirt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.outer {
  background: url("../img/outer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shirt {
  background: url("../img/shirt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pants {
  background: url("../img/pants.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.accessories {
  background: url("../img/accessories.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dress {
  background: url("../img/dress.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.kerudung {
  background: url("../img/kerudung.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rok {
  background: url("../img/rok.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-img-holder-thirdRow {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.article-img-holder-firstRow:hover {
  transform: scale(1.2);
  filter: saturate(0%);
}
.article-img-holder-secondRow:hover {
  transform: scale(1.2);
  filter: saturate(0%);
}
.article-img-holder-thirdRow:hover {
  transform: scale(1.2);
  filter: saturate(0%);
}
.fourthContainer {
  margin-top: 200px;
}
.fivethContainer {
  margin-top: -150px;
  background-color: #fff;
}
.linkSosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.itemSosmed {
  padding: 10px;
  color: black;
  text-decoration: none;
}
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}
#certificate .btn-primary {
  color: #FFFFFF;
  background-color: #991436;
  border-radius: 9px;
  padding:5px;
  min-height:30px; 
  min-width: 75px;
  text-decoration: none;   
}


#murid * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/


main.table {
    overflow: hidden;
}


.murid {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: scroll;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
    table-layout: auto;
}

.murid table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.murid thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

.murid tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.murid tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

.murid tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

.murid tbody tr:hover {
    background-color: #fff6 !important;
}

.murid tbody tr td,
.murid tbody tr td p,
.murid tbody tr td img {
    transition: .2s ease-in-out;
}

.murid tbody tr.hide td,
.murid tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

.murid tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.murid .status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.murid .status.Student {
    background-color: #86e49d;
    color: #006b21;
}

.murid .status.cancelled {
    background-color: #8c8c8c;
    color: #525252;
}

.murid .status.pending {
    background-color: #ebc474;
}

.murid .status.shipped {
    background-color: #6fcaea;
}


.murid @media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

.murid thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

.murid thead th:hover span.icon-arrow{
    border: 1.4px solid #26535d;
}

.murid thead th:hover {
    color: #26535d;
}

.murid thead th.active span.icon-arrow{
    background-color: #26535d;
    color: #fff;
}

.murid thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

.murid thead th.active,tbody td.active {
    color: #26535d;
    }

#achievement .card{
    border-radius: .5rem;
    background-color: #ffffff44;
   
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

#achievement .card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#achievement .card h3{
  font-weight: 600;
}

#achievement  .card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

#achievement  .card-1{
	background-image: url(./medal.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 
